$fontBold: "Spartan-Bold";
$fontRegular: "Spartan-Regular";
$fontLight: "Spartan-Light";

$purpleColor: #3f3a8e;
$lGrayColor: #b9b9b9;
$grayColor: #4d4d4d;
$whiteColor: #ffffff;

$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$navbar-breakpoint: $tablet;