/node_modules
/public/assets
/public/fonts
/public/images/
/public/js/
/public/storage
/public/mix-manifest.json
/resources/js/ziggy.js
/storage/*.key
/storage/api-docs
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
